{% extends "layout.html" %}

{% block body %}
    <h4>{{ a }}</h4>
    <form action="/signup" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <input type="text" placeholder="Full Name" name="fullname">
        <input type="text" placeholder="Phone Number" name="phone">
        <input type="text" placeholder="Country" name="country">
        <input type="text" placeholder="Address" name="address">
        <input type="submit">
    </form>

{% endblock %}

