{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <div class="py-5 text-center">
            <h1>Welcome <a href="/info">{{ current_user.name }}!</a></h1>
            <br>
            <h3>Your current balance is ${{ current_user.calculate_balance() }}</h3>
          </div>
        
        {% with purchases = current_user.purchases %}
            {% if purchases %}
                <table class="table table-striped" id="sortable">
                    <tr>
                    <th onclick="sortBy(0)">Date</th>
                    <th onclick="sortBy(1)">Card</th> 
                    <th onclick="sortBy(2)">Amount</th>
                    <th onclick="sortBy(3)">Billing Cycle</th>
                    <th onclick="sortBy(4)">Pay Status</th>
                    </tr>

                    {% for purchase in purchases %}

                        <tr>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.card }}</td>
                        <td>${{ '{:.2f}'.format(purchase.amount) }}</td>
                        <td>{{ purchase.cycle }}</td>
                        <td>{{ "Yes" if purchase.paid else "No"}}</td>

                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        {% endwith %}
        <div class="d-grid gap-2">
            <a href="transaction" class="btn btn-primary btn-lg btn-block" role="button">New Transaction</a>
            <a href="logout" class="btn btn-danger btn-lg btn-block" role="button">Log Out</a>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
    </div

{% endblock %}