{% extends "layout.html" %}

{% block body %}

    <body>
        <div class="div">

            <h1 class="title flex">Titan Payment Platform</h1>
            
            <h2>Login</h2>
            <h4>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </h4>


            <form action="/login" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password"name="password">
                <input type="submit" name="login" value="Log In" />
                <input type="submit" name="signup" value="Sign Up" />

            </form>

        </div>
    </body>

{% endblock %}